allow init debugfs:file write;

allow init sysfs_touchscreen:file setattr;

allow init proc_driver_audio:file w_file_perms;
allow init audioserver:process noatsecure;
allow init hal_audio_default:process noatsecure;
allow init vm_bms:process noatsecure;
