allow priv_app alarm_boot_prop:file read;
allow priv_app alarm_handled_prop:file read;
allow priv_app alarm_instance_prop:file read;
allow priv_app bg_boot_complete_prop:file read;
allow priv_app bg_daemon_prop:file read;
allow priv_app bluetooth_prop:file read;
